@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0b0f19] text-white;
}

/* Glass effect helper */
.glass {
  @apply bg-white/10 backdrop-blur-xl border border-white/20 shadow-xl;
}
